.landing-page {
  background-image: url('../public/assets/landing-page-image.svg');
  background-position: right -40px bottom -5px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  h1 {
    font-size: 80px;
    margin-bottom: 3rem;
  }
  p {
    margin-bottom: 3rem;
    line-height: 180%;
  }
  button {
    margin-left: auto;
  }
}