

.nav__fullscreen {
  position: relative;
  height: 100vh;
  width: 100vw;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.nav__mobile {
  position: fixed;
  bottom: 0;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}



.nav__item {
  @include button-primary;
}


