@media (min-width: 900px) {
    .nav {
        width: 14rem;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-items: flex-start;
        align-items: center;
    }

    .nav__item {
        @include button-primary;
        width: 4rem;
        height: 4rem;
        padding-left: 0.9rem;
        box-shadow: none;
        display: flex;
        justify-items: flex-start;
        gap: 1rem;
        transition: 300ms ease-in-out;
        overflow: hidden;
        & i {
            font-size: 2rem;
        }
        & span {
            transform: translateX(10rem);
            transition: 300ms ease-in-out;
            white-space: nowrap;
        }
        &:hover, &:focus {
            background: white;
            width: 14rem;
            span {
                transform: translateX(0);
            }
        }
    }
}

@media (max-width: 900px) {
    .page {
        margin-bottom: 6rem;
    }
    .nav {
        position: fixed;
        bottom: 0;
        // width: calc(100% - 4rem);
        width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        height: 120px;
        // background-color: rgba(255, 255, 255, 0.8);
        background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1) 70% );
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: end;
        // box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
    }
    .nav__item {
        span {
            display: none;
        }
        i {
            font-size: 2rem;
            text-align: center;
        }
        border: none;
        background: transparent;
        // width: 24.5%;
        color: inherit;
        margin-bottom: 0.5rem;
    }
}
