$color-bg: #F3FBFB;

$color-font-main: #121258;

$color-accent-1a: #fadfef;
$color-accent-1b: #fcede0;

$color-accent-2a: #dcdcfa;
$color-accent-2b: #def5fc;

$color-accent-3a: #ddfaf3;
$color-accent-3b: #f7f7e1;
